pkgbase = predator-sense
	pkgdesc = Native fan control and telemetry for Acer Predator G3-572
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/iashutoshtiwari/predator-sense
	install = predator-sense.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python
	depends = python-pyqt6
	depends = python-dbus-next
	depends = polkit
	depends = dbus
	depends = systemd
	depends = kmod
	depends = qt6-wayland
	depends = qt6-svg
	depends = hicolor-icon-theme
	optdepends = python-nvidia-ml-py: NVIDIA GPU temperature via NVML
	backup = etc/modprobe.d/predator-sense.conf
	source = predator-sense-1.0.0.tar.gz
	sha256sums = 6777a40389413cab83835c6fa281b0ee9fae5baf49560a21288ae6331069e790

pkgname = predator-sense
