pkgbase = predator-sense
	pkgdesc = Predator Sense fan control app for Helios 300 G3-572-55UB
	pkgver = 0.2.0
	pkgrel = 1
	url = local
	install = predator-sense.install
	arch = x86_64
	license = MIT
	depends = python
	depends = python-pyqt6
	depends = polkit
	optdepends = evtest: monitor keyboard events while troubleshooting

pkgname = predator-sense
