<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Predator Sense</vendor>
  <vendor_url>https://github.com/iashutoshtiwari/predator-sense</vendor_url>
  <icon_name>predator-sense</icon_name>
  <action id="org.predatorsense.launch">
    <description>Launch Predator Sense</description>
    <message>Authentication required.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/python</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">/usr/share/predator-sense/src/main.py</annotate>
  </action>
</policyconfig>
